.heroe-detail-container {
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.img {
    height: 300px;
}

.logo {
    height: 60px;
    width: 100px;
}

.title{
  text-align: center;
}

.more{
  display: flex;
}

.comments{
  width: 50%;
  padding-right: 100px;
}

.participants{
  width: 50%;
}

.area-comment{
  background-color: rgb(199, 195, 195);
  padding-left: 20px;
  border: 1px solid rgb(199, 195, 195);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
}

.comment-input{
  width: 85%;
}


.area-comment > p{
  margin-bottom: 5px;
}

.comment-button{
  margin-left: 30px;
  background-color: rgb(85, 47, 224);
  color: white;
  border: 0px  rgb(85, 47, 224);
}

